body{
    background: lightblue;

}
form {
    max-width: 560px;
    margin: auto;
}
.warning {
    color:red;
    font-size: 14px;
}

.company-info-box {
    width: 450px;
    margin: 40px auto;
}
.pagination{
    margin-left: 450px;
    
}