form {
    max-width: 560px;
    margin: auto;
}
.warning {
    color:red;
    font-size: 14px;
}

.company-info-box {
    border-style: solid;
    background: white;
    width: 450px;
    height: 500px;
    margin: 40px auto;
}